.popup {
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-style: italic;
    border: black;
    margin-left: 3vw;
    padding: 2%;
}

#name {
    height: 5vh;
    border-radius: 5px;
    padding: 4px;
    width: 100%;
    margin: 3px;
    margin-top: 5px;
}

#x {
    width: 30%;
    align-self: center;
    background-color: transparent; /* Ensure button background is transparent */
    border: none; /* Remove any border if present */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

/* Explicitly reset styles for the image inside the button */
#x img {
    height: 30px; /* Set a fixed height */
    width: 30px;  /* Set a fixed width */
    background-color: transparent; /* Ensure image background is transparent */
    display: block; /* Ensure the image is displayed as a block */
}

#amt {
    border-radius: 5px;
    width: 20%;
    height: 5vh;
    margin: 3px;
    padding: 4px;
}

#submit {
    border-radius: 10%;
    background-color: #7CC2CB;
    color: white;
    font-style: bold;
    margin: 3px;
    padding: 2px;
}

#dates {
    border-radius: 5px;
    width: 40%;
    height: 5vh;
    margin: 3px;
    padding: 4px;
}

#donor {
    height: 5vh;
    border-radius: 5px;
    margin-right: 4px;
    padding: 4px;
    width: 100%;
    margin: 3px;
    margin-top: 3px;
}

#type {
    border-radius: 5px;
    width: 40%;
    height: 5vh;
    margin: 3px;
    padding: 4px;
}

#date {
    border-radius: 5px;
    width: 40%;
    height: 5vh;
    margin: 3px;
    padding: 4px;
}

#desc {
    border-radius: 5px;
    width: 100%;
    height: 20vh;
    margin: 3px;
    padding: 4px;
    overflow: scroll;
    align-items: top;
}

.form-container {
    display: flex;
    flex-direction: row;
}

input::placeholder {
    font-size: 15px;
    padding: 5px;
    font-weight: lighter;
}

.create-new-bar {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
}

.close {
    display: flex;
    align-items: center; /* Align items vertically */
    background-color: transparent;
}

#img {
    max-width: 300px;
    height: 2.5vh;
}

.create-new-text {
    display: flex;
    font-size: 20px;
    font-style: normal;
    margin-right: 13vw;
    width: 80%;
    justify-content: space-between;
    align-content: center;
}

.desc-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 4px;
    margin-left: 3px;
}

#popup-text {
    font-style: normal;
    margin-top: 2px;
}

#submit {
    margin: 3px;
    width: 8vw;
    padding: 0.5vw;
    border-radius: 5px;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
}
