.popup {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: white;
    height: 50vh;
    font-family: "Inter", sans-serif;
    font-style: italic;
    box-shadow: 3px 3px #D9D9D9;
    align-items: left;
    justify-content: left;
}

#name {
    height: 2.5vh;
    border-radius: 10%;
    background-color: #D9D9D9;
    margin: 2px;
    padding: 2px;
}

#amt {
    border-radius: 10%;
    background-color: #D9D9D9;
    width: 3vw;
    height: 2.5vh;
    margin: 2px;
    padding: 2px;
}

#submit {
    border-radius: 10%;
    background-color: #7CC2CB;
    color: white;
    font-style: bold;
    margin: 2px;
    padding: 2px;
}

#date {
    border-radius: 10%;
    background-color: #D9D9D9;
    width: 5vw;
    height: 2.5vh;
    margin: 2px;
    padding: 2px;
}

#donor {
    height: 2.5vh;
    border-radius: 10%;
    background-color: #D9D9D9;
    margin: 2px;
    padding: 2px;
}

#type {
    border-radius: 10%;
    background-color: #D9D9D9;
    width: 7vw;
    height: 2.5vh;
    margin: 2px;
    padding: 2px;
}

#desc {
    border-radius: 10%;
    background-color: #D9D9D9;
    width: 7vw;
    height: 5vh;
    margin: 2px;
    padding: 2px;
}

.form-container {
    display: flex;
    flex-direction: row;
}

form::placeholder {
    font-size: 13px;
    opacity: 85%;
    font-style: italic;
}

