.app {
    text-align: center;
    padding: 20px;
  }
.exp-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  /* margin-top: 20px; */
  padding-top: 10%;
}
.exp-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.exp-card {
  width: 25%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s;
}
.exp-back {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  /* text-size-adjust: 12px; */
}
.exp img {
  max-width: 50%;
  max-height: 50%;
  /* max-width: 300px;
  max-height: 200px; */
}
  