.app {
  text-align: center;
  padding: 20px;
}
.exp-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}

/* Setting common size for all cards */
.card-back, .card-front {
  width: 20vw;
  height: 40vh;
}

.card-back {
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 10px;
  font-size: 10px;
  background-color: white;
  color: black;
}

.card-front {
  /* border: 1px solid #ccc; */
  background: linear-gradient(0deg, white 40%, #A1C3D2 40%);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flipIMG {
  width: 15vw;
  height: 10vh;
  border-radius: 10px;
}

.description {
  font-size: 10px;
}

/* .experience-card:hover{
  width: 320px;
  height: 220px;
} */


/* Stuff regarding the front of the card */
.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5vh;
}

.title {
  font-size: large;
  text-align: center;
  color: black;
  font-weight: bold;
  padding-bottom: 3vh;
}

.bottom {
  min-height: 10vh;
  padding-top: 11vh;
  display: flex;
  flex-direction: column;
  font-size: 1.5vh;
}

.bottom-top-row, .bottom-bottom-row {
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-bottom-row {
  margin-top: 2vh;
}