.app {
  text-align: center;
  padding: 20px;
}
.exp-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}
.experience-card {
  width: 300px;
  height: 200px;
  /* width: 50%;
  height: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s;
  flex-shrink: 1;
}

/* Setting common size for all cards */
.card-back, .card-front {
  min-width: 15vw;
  min-height: 30vh;
}

.card-back {
  /* border: 1px solid #ccc; */
  width: 15vw;
  height: 10vh;
  border-radius: 10px;
  padding: 10px;
  font-size: 10px;
}

.card-front {
  /* border: 1px solid #ccc; */
  background-color: #A1C3D2;
  width: 15vw;
  height: 10vh;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-back

.flipIMG {
  width: 15vw;
  height: 10vh;
  border-radius: 10px;
}

.description {
  font-size: 10px;
}

/* .experience-card:hover{
  width: 320px;
  height: 220px;
} */

#butt {
  width: 50vw;
  height: 50vh;
}

/* Stuff regarding the front of the card */
.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: large;
  text-align: center;
  color: black;
  font-weight: bold;
}