.app {
  text-align: center;
  padding: 20px;
}
.exp-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.experience-card {
  width: 300px;
  height: 200px;
  /* width: 50%;
  height: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s;
  flex-shrink: 1;
}
.card-back {
  color: #333;
  background-color: #eaf2fa;
  /* border: 1px solid #ccc; */
  width: 15vw;
  height: 10vh;
  border-radius: 10px;
  padding: 10px;
}

.card-front {
  color: #333;
  background-color: #eaf2fa;
  /* border: 1px solid #ccc; */
  width: 15vw;
  height: 10vh;
  border-radius: 10px;
  padding: 10px;
}

.flipIMG {
  width: 15vw;
  height: 10vh;
  border-radius: 10px;
}

.description {
  font-size: 10px;
}

/* .experience-card:hover{
  width: 320px;
  height: 220px;
} */

#butt {
  width: 50vw;
  height: 50vh;
}
