/* * {
    margin: 0;
    padding: 0;
}

.in-kind-header-box {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: red;
}

.in-kind-text {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: blue;
}

.search-box {
    display: flex;
    justify-content: space-between;
}

.search-box > :first-child {
    margin-right: auto;
  } */

.inventory-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 75vw;
    margin-left: 12.5vw;
}

/* Search Bar */
.search-wrapper {
    display: flex;
    flex-direction: row;
    width: 75vw;
    height: 20vw;
    align-items: center;
    margin-bottom: 0;
}

.search {
    width: 50%
}

#search {
    background-color: #E3E6E2;
    border-radius: 20px;
    width: 25vw;
    height: 2.5vw;
    padding: 10px;
}

#search::placeholder {
    font-size: 13px;
    opacity: 85%;
    font-style: italic;
}

/* Filter Boxes */

.filter-wrappers {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

select {
    background-color: #E3E6E2;
    color: black;
    border-radius: 26px;
    width: 10vw;
    height: 2.5vw;
    margin-left: 1vw;
    font-size: 13px;
    padding: 10px;
    font-style: italic;
}

/* Create New Button */
#create-new {
    border-radius: 26px;
    background-color: #7CC2CB;
    color: white;
    width: 10vw;
    height: 2.5vw;
    margin-left: 1vw;
    font-size: 13px;
    border: none;
}

/* Inventory Table Header */
.inventory-header {
    display: flex;
    justify-content: left;
    flex-direction: row;
    border-top: solid .1vh #8E8787;
    border-bottom: solid .1vh #8E8787;
    width: 75vw;    
    height: 10vh;
    background-color: white;
    color: black;
    overflow: hidden;
    margin-top: 0;
}

.inv-col-head {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 3vw;
    opacity: default;
    width: 10vw;
    font-style: bold;
    align-items: center;
}