.entry-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: solid .1vh #8E8787;
    border-bottom: solid .1vh #8E8787;
    height: 10vh;
    background-color: rgb(124 194 203 / 18%);
    align-items: center;
    overflow: hidden;
}

.entry {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3vw;
    opacity: default;
    /* width: 10vw; */
    overflow: scroll;
}

/* #donor {
    width: )vw;
} */