.entry-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: solid .1vh #8E8787;
    border-bottom: solid .1vh #8E8787;
    height: 10vh;
    overflow: hidden;
    padding: 0 20px;
}

.box {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tooltip {
    position: absolute;
    /* top: -10px; */
    /* left: 50%; */
    margin-bottom: 200px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 2;
    white-space: pre-line;
    width: auto;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
}

.box:hover .tooltip {
    display: block;
  }

.entry {
    display: flex;
    align-items: center; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.edit-popup {
    position: absolute;
    border: 1px solid black; /* Adds a black border */
    z-index: 10;
    right: 5vh; /* Adjust this value if needed to align it better horizontally */
    margin-bottom: 3vh; /* Moves the popup up; adjust this value as needed */
    background-color: white; /* Ensures the popup stands out against any background */
    padding: 5px; /* Adds some padding inside the popup */
    border-radius: 5px; /* Optional: adds rounded corners */
}

.edit-popup-button {
    display: flex;
    flex-direction: column;
    margin: 2px;
    font-size: 12px;
    width: 100%;
    padding: 5px;
    text-align: center;
    background: linear-gradient(to right, red 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.1s ease-out;
    overflow: hidden; 
    position: relative;
}


.action-button {
    padding: 3px 5px;
    font-size: 12px;
}


.delete-popup {
    position: fixed; /* or 'absolute' depending on your layout */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vh; /* Adjust size as needed */
    height: 10vh;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: white;
    z-index: 100; /* Ensure it's above other content */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-button {
    margin-left: 2vh;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden; 
}

.confirmation-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust line thickness */
    bottom: 0;
    left: 0;
    background-color: red; /* Change line color */
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Use cubic-bezier for smoother animation */
  }
  
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-2px);
    }
    60% {
      transform: translateY(-2px);
    }
  }
  
  .confirmation-button:hover::before {
    animation: bounce 0.5s;
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 99; /* Ensure it's above other content except the delete popup */
    display: none; /* Initially hidden */
}

.overlay.show {
    display: block; /* Show the overlay when necessary */
}



  



.edit-popup-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust line thickness */
    bottom: 0;
    left: 0;
    background-color: red; /* Change line color */
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Use cubic-bezier for smoother animation */
  }
  

  
  .edit-popup-button:hover::before {
    animation: bounce 0.5s;
  }

  
  