.entry-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: solid .1vh #8E8787;
    border-bottom: solid .1vh #8E8787;
    height: 10vh;
    overflow: hidden;
    padding: 0 20px;
}

.box {
    display: flex;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry {
     display: flex;
    /* flex-wrap: wrap; */
    /* margin-left : 2vw; */
    /* width: 10vw; */
    align-items: center; 

}

/* #donor {
    width: )vw;
} */