.navbarTop {
    top: 0;
    width: 100%;
    justify-content: space-between;
    /* border-bottom: 2px black solid; */
}

.navbarTop > *:first-child {
    margin-right: auto; 
}

.navbarTop .navbarTip {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: yellow;
    justify-content: space-between;
}

.clists {
    margin: 0 10px;
    list-style: none;
}

.voices-for-children-logo {
    width: 150px;
    height: auto;
}

.navbar-things {
    display: flex;
    gap: 30px;
    width: 500px;
}

#goBlue {
    border-bottom: 2px black solid;
}