@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  -webkit-overflow-scrolling: touch;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupContainer {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: solid black;
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popupContainer .containerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popupContainer .x {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.popupContainer .x:hover {
  color: red;
}

.popupContainer .titleContainer {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.popupContainer .popupTitle {
  margin: 0;
  font-weight: 600;
}

.popupContainer .inputs {
  display: flex;
  flex-direction: column;
}

.popupContainer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}

.popupContainer .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popupContainer .form-group label {
  font-weight: bold;
}

.popupContainer input,
.popupContainer select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.popupContainer input[type="file"] {
  padding: 0;
}

.popupContainer .buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.popupContainer #submitButton {
  width: auto;
  height: 50px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupContainer #submitButton:hover {
  background-color: #0056b3;
}

.popupContainer #submitButton:active {
  transform: translateY(2px);
}

@media screen and (max-width: 768px) {
  .popupContainer {
    width: 90%;
    max-height: 80%;
  }

  .popupContainer input,
  .popupContainer select {
    font-size: 14px;
  }
}
